.home-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
}
.home-3{
    font-size: 60px;
    color: darkcyan;
}
.cont{
  text-align: center;
  font-size: 40px;
}
